//- index.jade
extends ./layout.jade

block row-content
  div.row
    div.col-lg-6
        h2 Try me!
        div.well
          form.form-horizontal(method='post')
            fieldset
              div.form-group.row
                div.col-lg-12
                  label.control-label(for='textArea') Enter or paste a crime report
                  textarea#textArea.form-control(name="txt", rows='12', required="true") #{text}
                  span.help-block
                    | The bot is currently limited to crimes like theft, abuse(physical, drug, sexual) and suspicion(activity, person)
              div.form-group.row(style='margin-bottom: 0px; padding-top: 5px;')
                div.col-lg-5.col-lg-push-7
                  input(type='hidden', name='rt', value='xml')
                  button.btn.btn-block(type='submit') Analyze
      div.col-lg-6
        h2 Output
        h4 Crime Prediction
          h6 #{ml_response}
        h4 Extracted Entities
          h6 #{watson_response}  
        if xml
          p.help-block
            | The Relationship Extrcation service outputs the extracted
            | metadata in an XML format known as "DOCXML"
          pre
            code.language-markup 
              != xml
        if error
          h2 Output
          div.row
            div.col-lg-12
              div.well
                div.row
                  div.col-lg-12
                    p(style="font-weight:bold;color:red;") Error: #{error}